[req]
prompt = no
req_extensions = v3_req
default_bits = 2048
default_md = sha256
distinguished_name = dn

[ dn ]
CN = {{ hass_xcel_meter_cert.common_name }}

[v3_req]
# I don't know what this policy is.
certificatePolicies = critical, 1.3.6.1.4.1.40732.2.2
keyUsage = critical, digitalSignature, keyAgreement
subjectAltName = critical, @san_section

[san_section]
DNS.1 = {{ hass_xcel_meter_cert.common_name }}
