{{ ansible_managed | comment }}

---
default_config:

frontend:
  themes: !include_dir_merge_named {{ hass_themes_dirname }}

# ------
# Custom

{% for item in (_hass_yaml_config_all | dict2items) %}
{% set k = item.key %}
{% set v = item.value %}
{{ k }}:{% if v is not none %}{% if 'type' in v %} !{{ v.type }}{% endif %}{% if 'target' in v %} {{ v.target }}
{% endif %}{% endif %}
{% endfor %}
